/* OVERARCHING CSS */

* {
  box-sizing: border-box;
}

.svgs {
  width: 100%;
}

nav ul {
  position: relative;
  margin-top: -20%;
  padding: 0;
  zoom: 1;
  display: inline-block;
  *display: inline;
}

nav li {
  display: inline-block;
}

nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: -11px;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 13px 13px;
  opacity: 0.9;
  font-size: 11.75pt;
}

nav ul li a:hover {
  color: #2081C3;
}

.svglist {
  position: relative;
  top: -5px;
  margin: 0 auto;
  width: 100%;
}

.svglist ul {
  padding: 0;
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.svglist ul li {
  display: inline-block;
  width: 3.75%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

body {
  font-family: "Helvetica";
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

/* Home Page CSSs */

.heading {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  margin-top: -1.5%;
  color: black;
  background: white;
  width: 30%;
  font-size: 72%;
  top: 0px;
}

.centraldiv {
  z-index: 9;
  position: relative;
  margin: 0 auto;
  border-top-style: solid;
  border-top-width: thin;
  width: 90%;
  top: -28px;
}

/* Homepage CSS */

.subimgborder {
  padding: 50px;
}

.home {
  position: relative;
  margin: 0 auto;
  width: 57%;
}

.about {
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
  text-align: left;
  font-size: 100%;
  line-height: 140%;
}

.about a {
  color: #0f7cca;
  text-decoration: none;
}

.about a:hover {
  color: #A3ABB0;
}

/* Resume / Coursework CSS */

.category {
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  top: 60px;
  font-size: 120%;
  font-weight: bold;
}

.category a {
  color: #525658;
  text-decoration: none;
}

.category a:hover {
  color: #A3ABB0;
}

.list {
  position: relative;
  top: 10px;
}

.list ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  font-weight: normal;
}

.list ul .course {
  line-height: 100%;
}

.list ul .course .hide ul li {
  position: relative;
  padding-top: 5px;
  width: 95%;
  left: 5%;
  font-size: 80%;
}

.list ul li .hide {
  font-size: 100%;
}

.list ul .coursetitle {
  font-size: 100%;
}

.list ul .break {
  height: 35px;
}

/* About CSS */

.secondnav {
  position: relative;
  margin: 0 auto;
  width: 49%;
  padding: 40px 0 0 0;
}

.secondnav nav {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.aboutpage {
  position: relative;
  margin: 0 auto;
  width: 70%;
  top: 20px;
}

.moment img {
  padding: 5px 0 0 0;
  width: 70%;
}

.moment .content {
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding: 1px 0 0 0;
  text-align: left;
  line-height: 150%;
}

.moment h1 {
  position: relative;
  font-size: 140%;
  padding: 0 0 5px 0;
  border-bottom-style: solid;
  border-bottom-width: thin;
  text-align: center;
}

.moment h2 {
  font-size: 115%;
  padding: 0 0 5px 0;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

/* Blog CSS */

.post a {
  color: #A3ABB0;
  text-decoration: none;
}

.post a:hover {
  color: #525658;
}

.postlist a {
  color: #A3ABB0;
  text-decoration: none;
}

.postlist a:hover {
  color: #525658;
}

.postlist {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 150%;
}

.post {
  position: relative;
  margin: 0 auto;
  width: 49%;
}

.post p {
  text-align: left;
  line-height: 150%;
}

.post .posthead {
  font-size: 120%;
  text-align: center;
}

/* Mobile CSS */

@media only screen and (max-width:1000px) {
  .heading {
    font-size: 70%;
  }
}

@media only screen and (max-width:800px) {
  .svglist ul li {
    display: inline-block;
    width: 3.75%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  
  .heading {
    font-size: 60%;
  }

  .centraldiv {
    top: -25px;
  }
}

@media only screen and (max-width:620px) {
  .svglist ul li {
    display: inline-block;
    width: 4%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  nav {
    top: -6px;
  }

  nav ul li a {
    padding: 17px 5px;
  }

  .heading {
    top: -16px;
    width: 100%;
    font-size: 70%;
  }

  .centraldiv {
    border-top-style: none;
    width: 100%;
    top: -70px;
  }

  .list {
    top: 15px;
  }

  .list ul .break {
    height: 0;
  }

  .home {
    width: 100%;
  }

  .about {
    width: 100%;
    padding-top: 20px;
  }

  .list ul {
    text-align: center;
  }

  .list ul .hide {
    font-size: 0%;
  }

  .list ul li .hide {
    font-size: 0%;
  }

  .secondnav {
    width: 70%;
  }

  .aboutpage {
    width: 100%;
  }

  .aboutpage hr {
    width: 80%;
  }

  .content h2 {
    font-size: 80%;
  }

  .content p {
    font-size: 70%;
  }
    
  .post {
    width: 70%;
  }
}
