<!DOCTYPE html>

<html>
    <head>
        <meta name="declan's site" content="width=device-width, initial-scale=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"></link>
    </head>

    <div class="svglist">
        <ul>
            <li><a href="https://github.com/declansullivan/" target="_blank" rel="noopener noreferrer"><img class="svgs" src=../svgs/github.svg></img></a></li>
            <li><a href="https://www.linkedin.com/in/declansullivan/" target="_blank" rel="noopener noreferrer"><img class="svgs" src=../svgs/linkedin.svg></img></a></li>          
            <li><a href="https://www.facebook.com/thedeclansullivan" target="_blank" rel="noopener noreferrer"><img class="svgs" src=../svgs/facebook.svg></img></a></li>
            <li><a href="https://twitter.com/DeclanSullivan" target="_blank" rel="noopener noreferrer"><img class="svgs" src=../svgs/twitter.svg></img></a></li>
        </ul>
    </div>

    <div class="navbar">
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/coursework">Coursework</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</html>